h2,
h3,
h4,
p {
  font-family: "Antic Slab", serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* THE SIDEBAR */
.sidebar {
  display: none;
  height: 100%;
  width: 25rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: -3px 0 10px 0 #555;
  padding-top: 10px;
}
.sidebar-item {
  border: none;
  display: flex;
  padding: 15px 10px;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-size: 24px;
  transition: 0.5s;
}

.sidebar-item:hover {
  background-color: rgba(165, 165, 165, 0.5);
}

/* THE NAVBAR HELL STARTS */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navbar-item {
  font-size: 24px;
  display: flex;
  padding: 15px 5px;
}

.navbar-item:hover {
  background-color: rgba(165, 165, 165, 0.5);
}

.navbar ul {
  list-style: none;
  margin: 0;
  background-color: white;
}

.navbar > ul > li {
  float: left;
  position: relative;
}

.navbar ul li {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  background-color: white;
}

.navbar ul li:hover {
  background-color: rgba(165, 165, 165, 0.5);
}

.navbar ul ul {
  position: absolute;
  padding: 0;
  min-width: 160px;
  display: none;
  top: 100%;
  left: 0;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar ul ul li {
  position: relative;
  background-color: white;
}

.navbar ul ul ul {
  top: 0;
  left: 100%;
}

/* THE NAVBAR HELL ENDS */

.food {
  padding: 30px;
}

.food-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.food-items > li {
  list-style-type: none;
  flex: 1 1 20%;
  padding: 0 1px 30px;
  width: 90%;
}

.food-items > li > img {
  width: 90%;
}

.food-items > p {
  text-align: center !;
}

.page {
  text-align: center;
  padding: 10px;
}

.page > li {
  padding: 10px 16px;
  width: auto;
  border: none;
  display: inline-flex;
  cursor: pointer;
}

.page > li:hover {
  background-color: rgba(90, 90, 90, 0.5);
}

.about {
  padding: 30px;
}

.about > img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about > p {
  text-align: center;
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 80px;
}

.footer > li {
  flex: 15%;
  padding: 5px;
  list-style-type: none;
}

.blog {
  padding: 0;
  margin: 0;
}

.blog-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 25px;
  cursor: pointer;
  list-style-type: none;
  box-sizing: inherit;
  font-size: 15px;
}

.blog-item:hover {
  background-color: rgba(165, 165, 165, 0.5);
}

.blog-pic {
  width: 50px;
  float: left;
  margin-right: 16px;
}

.blog-p {
  float: left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tags > li {
  list-style-type: none;
  display: flex;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: #616161;
}

.tags > li:first-child {
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
}

/* .tags > li {
  flex: 1;
  font-size: 13px;
  margin-bottom: 16px;
  align-content: space-between;
} */
